---
import MainLayout from "@/layouts/MainLayout";

import Container from "@/components/layout/Container";
import Review from "@/components/content/Review";
import Section from "@/components/layout/Section";
import Service from "@/components/content/Service";
---

<MainLayout>
    <div class="bg-radial-[at_90%_20%] md:bg-radial-[at_50%_50%] to-mongoose-950 from-mongoose-300">
        <Section>
            <Container>
                <h1 class="text-white text-balance max-w-4xl">Dirtbike Repair &amp; Service</h1>
            </Container>

            <Container size="xlarge">
                <div class="grid grid-cols-6 grid-rows-2 gap-6 h-150">
                    <img src="https://imgix.cosmicjs.com/ad0c1080-d160-11f0-b20e-1d251587b0cd-vikram-sundaramoorthy-pd8CfO07lBU-unsplash.jpg?w=1500" class="row-span-2 col-span-4  h-full w-full object-cover shadow-2xl rounded-lg" />
                    <img src="https://imgix.cosmicjs.com/ad0c1080-d160-11f0-b20e-1d251587b0cd-vikram-sundaramoorthy-pd8CfO07lBU-unsplash.jpg?w=1500" class="col-span-2 h-full w-full object-cover shadow-2xl rounded-lg" />
                    <img src="https://imgix.cosmicjs.com/ad0c1080-d160-11f0-b20e-1d251587b0cd-vikram-sundaramoorthy-pd8CfO07lBU-unsplash.jpg?w=1500" class="col-span-2 h-full w-full object-cover shadow-2xl rounded-lg" />
                </div>
            </Container>

            <Container>
                <div class="col-span-2 md:col-span-1 space-y-8">
                    <h2 class="heading-underline">Our Story</h2>
                    <div class="text-mongoose-100 text-lg font-base space-y-6 tracking-normal">
                        <p>Born and raised right here in Dripping Springs, Chris and Katie Porter aren't just the owners of Dripping Springs Outdoor Powersports—they are lifelong members of the community whose story is deeply rooted in the Central Texas dirt.</p>
                        <p>
                            Their connection wasn't forged over coffee or a movie; it was built on the track. Chris and Katie met through their shared, intense love for dirt bike racing. From local trails to competitive circuits, they spent their early years side-by-side, pushing limits and
                            learning the mechanics of what it takes to keep a machine performing at its peak.
                        </p>
                        <p>
                            After they married, the Porters realized that their combined knowledge of racing, diagnostics, and hands-on repair filled a clear need in their growing town. They took their passion and expertise and launched their first venture: a mobile powersports repair business.
                            They spent years driving to ranches and homes across Hays County, diagnosing issues right where the customer broke down.
                        </p>
                        <p>This mobile experience taught them the true value of speed, reliability, and local service. Now, they have transitioned from the mobile unit to our dedicated, state-of-the-art repair shop, bringing that same commitment to the heart of Dripping Springs.</p>
                        <p>
                            Dripping Springs Outdoor Powersports isn't just a business; it's the culmination of their shared history, built on a foundation of local pride and the understanding that when you're on the trails, your equipment needs to be perfect. Chris, Katie, and their team are
                            here to ensure every rider can experience the thrill of the ride, safely and reliably, every time.
                        </p>
                    </div>
                </div>
            </Container>
        </Section>
    </div>
</MainLayout>
