<div class="flex flex-col gap-4">
    <div class="flex items-center gap-4">
        <img src="https://imgix.cosmicjs.com/199cd520-ce66-11f0-ab33-09cb31e91e16-appic-DfWPponVHb0-unsplash.jpg?w=200" class="size-12 border-mongoose-500 border-r-4 border-b-3 rounded-full object-cover shadow-sm" />

        <div class="space-y-1">
            <div class="font-medium text-xl font-heading uppercase tracking-tight text-white">A true rockstar</div>

            <div class="flex">
                {
                    [...Array(5)].map((_, index) => (
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 fill-amber-300 shadow-sm">
                            <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
                        </svg>
                    ))
                }
            </div>
        </div>
    </div>

    <div class="text-stone-200">Chris was awesome. He's always on schedule and is always very reasonably priced and helpful. He went way beyond the call of duty in assisting me with my temperamental chopper.</div>

    <div>
        <div class="text-white text-lg font-medium">Sean P.</div>
        <div class="text-stone-300 text-sm">KTM Repair in Buda, TX</div>
    </div>
</div>
