<div class="flex flex-col sm:flex-row md:flex-col sm:items-center gap-3 sm:gap-6 mb-8 pb-8">
    <div class="sm:w-1/3 h-full md:w-full grid grid-cols-12 grid-rows-2 gap-3 xl:gap-0">
        <img src="https://imgix.cosmicjs.com/f977f490-d2e4-11f0-a4e9-9da12f8febf7-download.webp" class="row-span-2 col-span-4 sm:col-span-12 md:col-span-4 xl:col-span-12 w-full h-full shadow-2xl rounded-lg xl:rounded-none xl:rounded-t-lg object-cover" />
        <img src="https://imgix.cosmicjs.com/f977f490-d2e4-11f0-a4e9-9da12f8febf7-download.webp" class="row-span-2 col-span-4 sm:col-span-6 md:col-span-4 xl:col-span-6 w-full h-full shadow-2xl rounded-lg xl:rounded-none xl:rounded-bl-lg object-cover" />
        <img src="https://imgix.cosmicjs.com/f977f490-d2e4-11f0-a4e9-9da12f8febf7-download.webp" class="row-span-2 col-span-4 sm:col-span-6 md:col-span-4 xl:col-span-6 w-full h-full shadow-2xl rounded-lg xl:rounded-none xl:rounded-br-lg object-cover" />
    </div>

    <div class="flex flex-col space-y-3">
        <div class="text-balance text-xl tracking-tight text-white uppercase font-heading line-clamp-1">RZR PRO S in for a Tune-Up</div>

        <p class="text-mongoose-100 text-sm sm:text-base font-light">This RZR Pro R turbo side-by-side received a complete performance tune-up, including fluid changes, belt inspection, and a full system diagnostic to ensure it delivers maximum power and reliability on the trails.</p>

        <div class="text-white font-light text-xs uppercase">3 months ago</div>
    </div>
</div>
