<div class="space-y-5 xl:space-y-1 flex xl:flex-col gap-4">
    <img src="https://imgix.cosmicjs.com/f977f490-d2e4-11f0-a4e9-9da12f8febf7-download.webp" class="size-18 xl:size-24 shadow-2xl rounded-lg object-cover" />

    <div class="space-y-3">
        <div class="text-balance text-xl tracking-tight text-white uppercase font-heading line-clamp-1">RZR PRO S in for a Tune-Up</div>
        <p class="text-mongoose-100 line-clamp-3 text-sm font-light">This RZR Pro R turbo side-by-side received a complete performance tune-up, including fluid changes, belt inspection, and a full system diagnostic to ensure it delivers maximum power and reliability on the trails.</p>

        <div class="flex justify-between items-center w-full">
            <div class="text-white font-light text-xs uppercase">3 months ago</div>
        </div>
    </div>
</div>
