---

---

<div class="grid grid-cols-6 gap-6">
    <div class="col-span-6 sm:col-span-2 lg:col-span-6 xl:col-span-2 flex flex-col gap-4">
        <div class="relative h-full sm:h-52 lg:h-72 xl:h-full">
            <img src="https://imgix.cosmicjs.com/bdc03c70-d062-11f0-9412-e12f763e1300-side-view-man-repairing-motorcycle.jpg?w=500" class="w-24 sm:absolute shadow-2xl rounded-lg sm:w-full h-full object-cover" />
        </div>
    </div>

    <div class="space-y-6 col-span-6 sm:col-span-4 lg:col-span-6 xl:col-span-4">
        <h4 class="text-balance text-mongoose-950!">Dirt bike Service & Repair</h4>
        <p class="text-mongoose-950">When your dirt bike is down, you're not riding—and we get that. Our technicians are experts in keeping the top motocross and enduro machines running at peak performance, from routine maintenance like top-end rebuilds and suspension tuning to complex engine diagnostics.</p>
        <p class="text-mongoose-950">We regularly service popular models from all major brands, including Honda CRF, Yamaha YZ, Kawasaki KX, and KTM SX-F. To ensure you get back on the trail as quickly as possible, we happily offer pickup and drop-off service across the Dripping Springs, Wimberley, and Austin areas, making your service appointment completely hassle-free.</p>
        <a href="/contact/" class="button button-ghost w-full sm:w-fit">Get an Estimate!</a>
    </div>
</div>
