@import "tailwindcss";
@plugin "@tailwindcss/forms";

@import "./buttons";
@import "./forms";
@import "./typography";

@theme {
    --color-mongoose-50: #f9f7f3;
    --color-mongoose-100: #f1ede3;
    --color-mongoose-200: #e2d9c6;
    --color-mongoose-300: #cfbfa2;
    --color-mongoose-400: #b89c75;
    --color-mongoose-500: #ad8b62;
    --color-mongoose-600: #a07956;
    --color-mongoose-700: #856249;
    --color-mongoose-800: #6d513f;
    --color-mongoose-900: #594335;
    --color-mongoose-950: #2f221b;

    --color-pinecone-50: #f5f5f1;
    --color-pinecone-100: #e6e4db;
    --color-pinecone-200: #cecaba;
    --color-pinecone-300: #b2aa92;
    --color-pinecone-400: #9c9073;
    --color-pinecone-500: #8d7f65;
    --color-pinecone-600: #796a55;
    --color-pinecone-700: #645648;
    --color-pinecone-800: #54483f;
    --color-pinecone-900: #4a3f39;
    --color-pinecone-950: #29221f;

    --font-heading: var(--font-heading);
}

body {
    font-family: var(--font-manrope);
    @apply tracking-wide overflow-x-hidden;
}

[x-cloak] {
    display: none !important;
}

details {
    @apply transition-all duration-500;

    &::details-content {
        @apply h-0 overflow-clip;
        transition:
            all 0.5s ease,
            content-visibility 0.5s allow-discrete;
    }

    &[open]::details-content {
        @apply h-auto pt-3 pb-6;
    }

    &[open]>summary {
        @apply bg-mongoose-200/20;
    }
}

summary {
    &::-webkit-details-marker {
        @apply hidden;
    }

    &:after {
        content: "\002B";
    }

    [open] &::after {
        content: "\002D";
    }
}