@import "tailwindcss";
@plugin "@tailwindcss/forms";

@import "./buttons";
@import "./forms";
@import "./typography";

@theme {
    --color-mongoose-50: #f9f7f3;
    --color-mongoose-100: #f1ede3;
    --color-mongoose-200: #e2d9c6;
    --color-mongoose-300: #cfbfa2;
    --color-mongoose-400: #b89c75;
    --color-mongoose-500: #ad8b62;
    --color-mongoose-600: #a07956;
    --color-mongoose-700: #856249;
    --color-mongoose-800: #6d513f;
    --color-mongoose-900: #594335;
    --color-mongoose-950: #2f221b;

    --color-cognac-50: #fdf5ef;
    --color-cognac-100: #fae8da;
    --color-cognac-200: #f5cfb3;
    --color-cognac-300: #eeae83;
    --color-cognac-400: #e68351;
    --color-cognac-500: #e0632f;
    --color-cognac-600: #d24d24;
    --color-cognac-700: #aa381f;
    --color-cognac-800: #8b2f21;
    --color-cognac-900: #702a1e;
    --color-cognac-950: #3c130e;

    --font-heading: var(--font-heading);
}

body {
    font-family: var(--font-manrope);
    @apply tracking-wide;
}

[x-cloak] {
    display: none !important;
}

details {
    @apply transition-all duration-500;

    &::details-content {
        @apply h-0 overflow-clip;
        transition:
            all 0.5s ease,
            content-visibility 0.5s allow-discrete;
    }

    &[open]::details-content {
        @apply h-auto pt-3 pb-6;
    }

    &[open]>summary {
        @apply bg-mongoose-800;
    }
}

summary {
    &::-webkit-details-marker {
        @apply hidden;
    }

    &:after {
        content: "\002B";
    }

    [open] &::after {
        content: "\002D";
    }
}