.button {
	@apply font-heading transition duration-300 inline-flex items-center justify-center font-medium text-base rounded px-3 md:px-4 py-2 md:py-3 hover:cursor-pointer;

	&.button-primary {
		@apply text-white bg-mongoose-950 hover:bg-mongoose-800 focus:outline-none;

		&.button-inverse {
			@apply text-mongoose-900 bg-white hover:bg-mongoose-100;
		}
	}

	&.button-success {
		@apply text-white bg-emerald-700 hover:bg-emerald-600 focus:outline-none;
	}

	&.button-ghost {
		@apply text-mongoose-950 bg-transparent border border-mongoose-950 focus:outline-none;

		&.button-inverse {
			@apply border-mongoose-100 text-mongoose-100;
		}
	}
}

.pill {
	@apply inline-flex items-center rounded-xl px-4 py-2 text-xs font-medium uppercase;

	&.pill-primary {
		@apply bg-white text-mongoose-800;
	}

	&.pill-secondary {
		@apply bg-mongoose-900 text-mongoose-50;
	}

	&.pill-ghost {
		@apply border border-mongoose-900 text-mongoose-900;
	}

	&.pill-large {
		@apply px-4 py-2.5;
	}
}