h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    @apply -tracking-[0.06em] uppercase text-white;
    font-family: var(--font-heading);
}

h1,
.h1 {
    @apply text-5xl sm:text-6xl lg:text-[7em] font-bold leading-12 sm:leading-14 lg:leading-24;
}

h2,
.h2 {
    @apply text-4xl sm:text-5xl lg:text-6xl font-bold leading-10 sm:leading-12 lg:leading-16;
}

h3,
.h3 {
    @apply text-3xl sm:text-4xl lg:text-5xl font-semibold leading-10 sm:leading-12 lg:leading-14;
}

h4,
.h4 {
    @apply text-2xl sm:text-3xl lg:text-4xl font-semibold leading-6 sm:leading-8 lg:leading-10
}

h5, .h5 {
    @apply text-xl sm:text-2xl lg:text-3xl font-medium leading-6 sm:leading-8 lg:leading-10;
}

.heading-underline {
    @apply border-mongoose-400 border-b-10 sm:border-b-14 md:border-b-20 inline-block;
}