<div
    class="flex gap-10 items-center font-semibold font-heading text-xl uppercase tracking-tight text-white antialiased"
>
    <div class="flex flex-row gap-10 text-2xl">
        <div>Services</div>
        <div>About Us</div>
        <div>FAQ</div>
        <div>(512) 560-4223</div>
    </div>

    <a
        href="/contact/"
        class="font-bold block bg-sky-600 hover:bg-sky-500 py-4 px-4 transition-all duration-400"
    >
        Contact Me
    </a>
</div>
