<div class="ml-6 sm:ml-0">
    <div class="flex flex-row max-xl:sm:flex-col gap-4">
        <img src="https://imgix.cosmicjs.com/ad0c1080-d160-11f0-b20e-1d251587b0cd-vikram-sundaramoorthy-pd8CfO07lBU-unsplash.jpg?w=300" class="inset-0 object-cover w-15 sm:w-full lg:w-40 h-auto shadow-2xl" />

        <div class="flex flex-col space-y-1 md:space-y-2">
            <div class="font-medium md:font-semibold text-lg md:text-xl">Dirt Bikes</div>
            <div class="text-stone-200 text-xs md:text-sm max-w-xs sm:max-w-none">We provide expert maintenance, repair, and performance tuning for dirtbikes at our outdoor powersports shop.</div>
            <div class="hidden md:flex gap-1 items-center">
                <div class="font-semibold underline">More Info</div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4">
                    <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
                </svg>
            </div>
        </div>
    </div>
</div>
