---
import MainLayout from "@/layouts/MainLayout";

import Container from "@/components/layout/Container";
import Review from "@/components/content/Review";
import Section from "@/components/layout/Section";
import Service from "@/components/content/Service";
---

<MainLayout>
    <div class="bg-radial-[at_90%_20%] md:bg-radial-[at_10%_50%] to-mongoose-950 from-mongoose-300">
        <Section>
            <Container>
                <h1 class="text-white">Dripping Springs Outdoor Powersports is a family owned and operated business.</h1>
            </Container>

            <Container>
                <div class="grid grid-cols-2 gap-12">
                    <div class="space-y-2">
                        <div class="relative min-h-100 flex items-center justify-center group">
                            <img src="https://imgix.cosmicjs.com/bdc03c70-d062-11f0-9412-e12f763e1300-side-view-man-repairing-motorcycle.jpg?w=2000" class="rounded-xl shadow-2xl object-cover absolute w-full h-full" />

                            <div class="relative z-10">
                                <div class="flex items-center gap-8">
                                    <svg viewBox="0 0 475 475" fill="none" xmlns="http://www.w3.org/2000/svg" class="size-32 transition opacity-80 group-hover:opacity-100">
                                        <path d="M237.5 0C368.668 0 475 106.332 475 237.5C475 368.668 368.668 475 237.5 475C106.332 475 0 368.668 0 237.5C6.59738e-05 106.332 106.332 0.000164975 237.5 0ZM178.238 113.908C154.911 100.527 135.998 111.489 135.998 138.372V336.762C135.998 363.672 154.911 374.619 178.238 361.251L351.64 261.807C374.975 248.421 374.975 226.734 351.64 213.352L178.238 113.908Z" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <div class="py-2 px-4 flex justify-between items-center">
                            <div class="text-white text-2xl font-bold uppercase">Watch Our Video</div>
                            <div class="text-white">2m 30s</div>
                        </div>
                    </div>

                    <div class="space-y-8">
                        <h2 class="heading-underline">Our Story</h2>
                        <div class="text-mongoose-100 text-lg font-light space-y-6 tracking-normal">
                            <p>Born and raised right here in Dripping Springs, Chris and Katie Porter aren't just the owners of Dripping Springs Outdoor Powersports—they are lifelong members of the community whose story is deeply rooted in the Central Texas dirt.</p>
                            <p>Their connection wasn't forged over coffee or a movie; it was built on the track. Chris and Katie met through their shared, intense love for dirt bike racing. From local trails to competitive circuits, they spent their early years side-by-side, pushing limits and learning the mechanics of what it takes to keep a machine performing at its peak.</p>
                            <p>After they married, the Porters realized that their combined knowledge of racing, diagnostics, and hands-on repair filled a clear need in their growing town. They took their passion and expertise and launched their first venture: a mobile powersports repair business. They spent years driving to ranches and homes across Hays County, diagnosing issues right where the customer broke down.</p>
                            <p>This mobile experience taught them the true value of speed, reliability, and local service. Now, they have transitioned from the mobile unit to our dedicated, state-of-the-art repair shop, bringing that same commitment to the heart of Dripping Springs.</p>
                            <p>Dripping Springs Outdoor Powersports isn't just a business; it's the culmination of their shared history, built on a foundation of local pride and the understanding that when you're on the trails, your equipment needs to be perfect. Chris, Katie, and their team are here to ensure every rider can experience the thrill of the ride, safely and reliably, every time.</p>
                        </div>
                    </div>
                </div>
            </Container>
        </Section>
    </div>
</MainLayout>
