---
import MainLayout from "@/layouts/MainLayout";

import ContactForm from "@/components/forms/ContactForm";
import Container from "@/components/layout/Container";
import Section from "@/components/layout/Section";
---

<MainLayout>
    <div class="bg-radial-[at_200%_95%] md:bg-radial-[at_100%_10%] to-mongoose-950 from-mongoose-300">
        <Section>
            <Container>
                <div class="flex flex-col items-center justify-center space-y-8">
                    <h1 class="text-white text-center sm:w-2xl">Let's Get in Touch</h1>

                    <div class="w-full lg:w-200">
                        <ContactForm />
                    </div>
                </div>
            </Container>
        </Section>
    </div>
</MainLayout>
