---
import MainLayout from "@/layouts/MainLayout";

import { faqs } from "@/config";
import Container from "@/components/layout/Container";
import FaqItem from "@/components/content/FaqItem";
import Review from "@/components/content/Review";
import Section from "@/components/layout/Section";
import Service from "@/components/content/Service";
---

<MainLayout>
    <div class="grid grid-cols-3">
        <img src="https://imgix.cosmicjs.com/bdc03c70-d062-11f0-9412-e12f763e1300-side-view-man-repairing-motorcycle.jpg?w=1000" class="object-cover col-span-3 lg:col-span-1 h-full lg:h-150 w-full" />
        <img src="https://imgix.cosmicjs.com/bdc03c70-d062-11f0-9412-e12f763e1300-side-view-man-repairing-motorcycle.jpg?w=1000" class="object-cover hidden lg:block lg:h-150 w-full" />
        <img src="https://imgix.cosmicjs.com/bdc03c70-d062-11f0-9412-e12f763e1300-side-view-man-repairing-motorcycle.jpg?w=1000" class="object-cover hidden lg:block lg:h-150 w-full" />
    </div>

    <div class="bg-radial-[at_100%_0%] sm:to-mongoose-950 sm:from-mongoose-300 from-pinecone-700 to-pinecone-600">
        <Section>
            <Container>
                <h1 class="text-white text-balance xl:max-w-3/4">Outdoor Powersports FAQ</h1>
            </Container>

            <Container>
                <div class="space-y-24">
                    {
                        faqs.map((f) => (
                            <div class="grid grid-cols-12 lg:gap-x-12 xl:gap-x-20 space-y-2 lg:space-y-20">
                                <div class="col-span-12 lg:col-span-5 xl:col-span-4">
                                    <h2 class="heading-underline">{f.title}</h2>
                                </div>

                                <div class="col-span-12 lg:col-span-7 xl:col-span-8 faq">
                                    {f.items.map((item) => (
                                        <FaqItem question={item.question} answer={item.answer} />
                                    ))}
                                </div>
                            </div>
                        ))
                    }
                </div>
            </Container>
        </Section>
    </div>
</MainLayout>
