---
import MainLayout from "@/layouts/MainLayout";

import { reviews } from "@/config";
import Container from "@/components/layout/Container";
import Review from "@/components/content/Review";
import Section from "@/components/layout/Section";
import Service from "@/components/content/Service";
---

<MainLayout>
    <img src="https://imgix.cosmicjs.com/bdc03c70-d062-11f0-9412-e12f763e1300-side-view-man-repairing-motorcycle.jpg?w=3000" class="object-cover h-[60vh] lg:h-200 w-full" />
    <!-- <div
        x-data="{ 
            activeSlide: 0,
            images: [
                { url: `https://imgix.cosmicjs.com/18456090-cca7-11f0-9626-37f7eb5f56f2-vikram-sundaramoorthy-pd8CfO07lBU-unsplash.jpg`,  title: 'Dirt Bike Service & Repair', description: 'We provide expert maintenance, repair, and performance tuning for dirtbikes at our outdoor powersports shop.'},
                { url: `https://imgix.cosmicjs.com/1f7d1540-d069-11f0-9412-e12f763e1300-freepik__the-image-will-be-of-a-person-riding-an-atv-4wheel__42914.png`,  title: 'Four Wheeler Service & Repair', description: 'We provide expert maintenance, repair, and performance tuning for dirtbikes at our outdoor powersports shop.'},
                { url: `https://imgix.cosmicjs.com/468fad50-d069-11f0-9412-e12f763e1300-freepik__the-image-will-be-of-a-farmer-riding-n-utility-veh__42915.png`,  title: 'Utility Vehicle Service & Repair', description: 'We provide expert maintenance, repair, and performance tuning for dirtbikes at our outdoor powersports shop.'},
            ],
            get transformStyle() {
                return `translateX(-${this.activeSlide * 100}%)`;
            },
            setSlide(index) {
                this.activeSlide = index;
            }
        }"
    >
        <div class="relative overflow-hidden h-180">
            <div class="flex w-full transition-transform duration-500 ease-in-out" :style="{ transform: transformStyle }">
                <template x-for="(image, index) in images" :key="index">
                    <img :src="image.url" class="object-cover h-180 w-full shrink-0 shadow-2xl" />
                </template>
            </div>

            <Container classes="absolute inset-x-0 bottom-10">
                <div class="flex justify-end items-end">
                    <div class="bg-black/50 w-125 backdrop-blur-lg p-5">
                        <div class="text-white text-2xl font-semibold tracking-tight font-heading" x-text="images[activeSlide].title"></div>
                        <div class="text-stone-200" x-text="images[activeSlide].description"></div>
                    </div>
                </div>
            </Container>
        </div>

        <div class="grid grid-cols-3">
            <template x-for="(image, index) in images" :key="'thumb-' + index">
                <div class="overflow-hidden relative">
                    <img :src="image.url + '?w=750'" class="object-cover w-full h-75 shadow-2xl hover:cursor-pointer duration-300 transition-all" :class="{'opacity-100': activeSlide === index, 'opacity-70 hover:opacity-100': activeSlide !== index}" @click="setSlide(index)" sizes="25vw" />

                    <div class="absolute inset-x-0 bottom-0 h-1 bg-amber-400" x-show="activeSlide === index"></div>
                </div>
            </template>
        </div>
    </div> -->

    <div class="bg-radial-[at_90%_20%] md:bg-radial-[at_10%_50%] to-mongoose-950 from-mongoose-300">
        <Section>
            <Container>
                <h1 class="text-white">Dripping Springs Outdoor Powersport is your trusted, local repair facility.</h1>
            </Container>

            <div class="grid grid-cols-12 max-md:gap-y-16">
                <img src="https://imgix.cosmicjs.com/bdc03c70-d062-11f0-9412-e12f763e1300-side-view-man-repairing-motorcycle.jpg?w=1200" class="col-span-12 md:col-span-6 rounded-r-xl shadow-2xl h-full object-cover" />

                <div class="col-span-12 md:col-span-6 lg:py-8 max-w-2xl">
                    <Container>
                        <div class="space-y-8">
                            <h2 class="heading-underline text-balance">Hey there, my name is Chris Porter.</h2>

                            <div class="text-mongoose-50 text-lg font-light space-y-6 tracking-normal">
                                <p>As the owner and operator of Flying Wrenches Mobile Powersports, my goal is simple: to make maintaining your powersports equipment as convenient as possible. I bring the shop to you!</p>
                                <p>As a factory-certified technician, I specialize in full-service repairs, custom installs, and routine maintenance for motorcycles, ATVs, utility vehicles, and dirt bikes—all performed right at your door or ranch across Austin and the surrounding communities.</p>
                                <p>I'm committed to providing quality, professional repairs with the unmatched convenience you deserve, so you can spend less time moving your machine and more time riding it.</p>
                                <p>If you're ready to get started with Dripping Springs Outdoor Powersport, <a href="#" class="font-semibold underline">book an appointment</a>, and let's get started!</p>
                            </div>

                            <hr class="w-24 text-mongoose-400" />

                            <div class="flex gap-6 items-center">
                                <div class="button button-primary">Book Now!</div>
                                <div class="text-mongoose-100"><a href="#" class="font-semibold underline">See Our Services</a> &gt;</div>
                            </div>
                        </div>
                    </Container>
                </div>
            </div>
        </Section>
    </div>

    <div class="bg-mongoose-100">
        <Section>
            <Container>
                <div class="grid grid-cols-12 gap-y-12 lg:gap-y-0 lg:gap-x-12 xl:gap-x-20">
                    <div class="col-span-12 lg:col-span-4 space-y-8">
                        <h2 class="heading-underline text-mongoose-950!">Our Services</h2>

                        <div class="space-y-6 mt-6 md:max-w-2xl">
                            <p class="text-mongoose-950">From routine manufacturer maintenance to complex engine rebuilds, Dripping Springs Outdoor Powersports is your trusted partner for reliability and performance.</p>
                            <p class="text-mongoose-950">We approach every repair with meticulous attention to detail and factory-level diagnostic precision, ensuring your ATV, UTV, or outdoor equipment is fixed right the first time and ready to handle the toughest Hill Country terrain.</p>
                        </div>
                    </div>

                    <div class="col-span-12 lg:col-span-8 space-y-24">
                        {[...Array(3)].map((_, index) => <Service />)}
                    </div>
                </div>
            </Container>
        </Section>
    </div>

    <div class="bg-radial-[at_50%_50%] from-mongoose-400 to-mongoose-950">
        <Container>
            <Section>
                <div class="md:w-175 mx-auto space-y-8">
                    <svg viewBox="0 0 84 100" fill="none" xmlns="http://www.w3.org/2000/svg" class="size-16">
                        <path
                            d="M0.0260487 65.3952L0.0244751 49.0957C0.0253751 45.899 0.27755 42.1717 4.52635 41.7957C5.73885 41.6882 7.08035 41.8447 8.30735 41.847L18.2423 41.8447C18.9428 41.8437 20.7823 41.703 21.3561 41.8452C21.6483 42.3407 21.9173 42.8397 22.1708 43.3562C21.5273 43.772 20.9396 44.5987 20.3911 45.154L2.18305 63.429C1.49075 64.1182 0.821524 64.8227 0.0260487 65.3952Z"
                            fill="#2FAD52"></path>
                        <path
                            d="M62.2981 41.8452L74.2101 41.844C77.8066 41.8445 81.1774 40.9945 83.2276 44.6842C82.3451 45.6222 81.3404 46.439 80.4134 47.3327C77.8224 49.8312 75.1179 52.3715 72.5786 54.9027L61.2921 66.221C60.8251 66.6825 60.3434 67.2462 59.8071 67.6232C58.5799 66.3307 57.2499 65.109 55.9849 63.8512L53.6089 61.5322C53.1041 61.0485 52.6281 60.5245 52.0409 60.1382C52.4574 58.7905 53.5809 57.3262 54.2756 56.0715L59.2871 47.2205C60.2984 45.4337 61.2594 43.616 62.2981 41.8452Z"
                            fill="#FDBF42"></path>
                        <path
                            d="M58.7551 78.9364C60.4184 80.4594 61.9791 82.1064 63.5769 83.6986L71.2999 91.3551C73.4051 93.4414 76.8364 96.3987 78.5734 98.5982C75.7164 100.403 72.7741 99.9349 69.5436 99.9316L39.1439 99.9304C35.7894 99.9306 32.4261 99.9831 29.0724 99.9306C30.6031 99.7244 36.1529 99.8214 37.7121 99.9306C38.9629 98.3136 40.6489 96.8417 42.1224 95.4192C47.7374 89.9984 53.1284 84.3452 58.7551 78.9364Z"
                            fill="#72B0F6"></path>
                        <path
                            d="M83.2276 44.6842C84.3079 47.1192 83.8366 50.4057 83.8366 53.0307L83.8356 82.7255C83.8361 85.677 83.9161 88.6527 83.8349 91.6022C82.7689 90.6307 81.7966 89.5065 80.7789 88.48L65.1979 72.976C63.4036 71.1907 61.5621 69.4472 59.8071 67.6232C60.3434 67.2462 60.8251 66.6825 61.2921 66.221L72.5786 54.9027C75.1179 52.3715 77.8224 49.8312 80.4134 47.3327C81.3404 46.439 82.3451 45.6222 83.2276 44.6842Z"
                            fill="#31CA60"></path>
                        <path
                            d="M0.0260551 65.3952C0.82153 64.8227 1.49076 64.1182 2.18306 63.429L20.3911 45.154C20.9396 44.5987 21.5274 43.772 22.1709 43.3562C25.1881 49.0697 28.6809 54.4907 31.7996 60.1382C27.7319 63.9804 23.8221 68.004 19.8431 71.9389L0.0260551 91.6022C-0.0289449 90.5622 0.0195303 89.5112 0.0239303 88.4697L0.0260551 65.3952Z"
                            fill="#31CA60"></path>
                        <path
                            d="M5.69232 98.1574C6.78007 96.9279 8.06932 95.8179 9.22882 94.6482L18.7051 85.1602C22.8611 80.9707 27.0271 76.7797 31.2483 72.6559C32.9563 70.9877 34.5823 69.1889 36.3831 67.6232C37.1058 68.6629 37.6613 69.8257 38.3306 70.9019C39.5233 72.8199 40.8698 74.7764 42.0208 76.6689L42.1756 76.7889C43.0218 74.3859 46.0841 70.0967 47.4171 67.6232C48.7113 68.8042 49.8846 70.1362 51.1248 71.3737L58.7551 78.9364C53.1283 84.3452 47.7373 89.9984 42.1223 95.4192C40.6488 96.8417 38.9628 98.3137 37.7121 99.9307C36.1528 99.8214 30.6031 99.7244 29.0723 99.9307L11.6203 99.9349C8.95482 99.9372 7.81982 99.9599 5.69232 98.1574Z"
                            fill="#418EEC"></path>
                        <path
                            d="M42.0209 0.000488281C56.6831 0.619363 68.3124 12.4579 67.7054 27.3529C67.4959 32.4957 65.0936 37.5639 62.2981 41.8452C61.2594 43.6159 60.2984 45.4337 59.2871 47.2204L54.2756 56.0714C53.5809 57.3262 52.4574 58.7904 52.0409 60.1382C51.0709 61.0907 48.1336 66.3009 47.4171 67.6232C46.0841 70.0967 43.0219 74.3859 42.1756 76.7889L42.0209 76.6689C42.1379 75.7537 42.0261 74.7134 42.0244 73.7817L42.0184 40.3229C42.0146 39.5587 41.9106 38.7027 42.0209 37.9534C48.6401 37.7772 54.0229 32.6379 54.1021 25.9194C54.1799 19.3287 48.5274 13.9102 42.0209 13.8652V0.000488281Z"
                            fill="#E24544"></path>
                        <path
                            d="M21.3561 41.8452C18.7446 35.6417 15.9798 33.1769 16.0011 25.3707C16.0388 11.4717 28.2161 -0.0867592 42.0209 0.000490751V13.8652C48.5274 13.9102 54.1798 19.3287 54.1021 25.9194C54.0228 32.6379 48.6401 37.7772 42.0209 37.9534C41.9106 38.7027 42.0146 39.5587 42.0183 40.3229L42.0244 73.7817C42.0261 74.7134 42.1379 75.7537 42.0209 76.6689C40.8699 74.7764 39.5233 72.8199 38.3306 70.9019C37.6614 69.8257 37.1058 68.6629 36.3831 67.6232C35.3448 65.5534 33.1281 62.0379 31.7996 60.1382C28.6808 54.4907 25.1881 49.0697 22.1708 43.3562C21.9173 42.8397 21.6483 42.3407 21.3561 41.8452ZM42.0209 13.8652C35.3561 13.8504 29.7359 19.2044 29.7159 25.9194C29.6951 32.7917 35.3469 37.7987 42.0209 37.9534C48.6401 37.7772 54.0228 32.6379 54.1021 25.9194C54.1798 19.3287 48.5274 13.9102 42.0209 13.8652Z"
                            fill="#EA7754"></path>
                    </svg>

                    <div class="col-span-12 lg:col-span-4 space-y-4">
                        <h4 class="text-balance">Servicing the Greater Austin Area</h4>
                        <p class="text-mongoose-200 text-lg">
                            Our service area is rooted in the heart of the Texas Hill Country, stretching across Dripping Springs and Wimberley. We proudly extend our expert powersports service throughout the greater Austin area, including the communities of West Lake Hills, Tarrytown, Barton Creek,
                            and Rollingwood.
                        </p>
                    </div>
                </div>

                <div class="columns-1 md:columns-2 lg:columns-3 space-y-6 lg:space-y-12 gap-x-6 lg:gap-x-12">
                    {reviews.map((review, index) => <Review review={review} />)}
                </div>
            </Section>
        </Container>
    </div>
</MainLayout>
