---
import MainLayout from "@/layouts/MainLayout";

import Container from "@/components/content/Container";
---

<MainLayout>
    <img
        src="https://cdn.cosmicjs.com/18456090-cca7-11f0-9626-37f7eb5f56f2-vikram-sundaramoorthy-pd8CfO07lBU-unsplash.jpg"
        class="object-cover h-180 w-full shadow-2xl"
    />

    <div class="bg-mongoose-900 py-18">
        <Container>
            <h1 class="text-white">
                Dripping Springs Outdoor Powersport is your trusted, local
                repair facility.
            </h1>
            <p>
                We specialize in expert service and maintenance for UTVs,
                4-wheelers, and dirt bikes.
            </p>
            <p>
                From routine tune-ups to complex engine diagnostics and
                full-service repairs, our skilled technicians ensure your
                powersport vehicle is running at peak performance. We use
                quality parts and provide reliable service so you can hit the
                trails with confidence.
            </p>
            <p>
                Don't let mechanical issues sideline your adventure. Call us
                today!
            </p>
        </Container>
    </div>
</MainLayout>
