---
// layouts
import Layout from "../layouts/Layout.astro";

// components
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";
import ListItem from "@/components/ListItem";
---

<Layout>
    <section class="relative overflow-hidden bg-zinc-100 pt-16 md:pt-20 xl:pt-32">
        <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
            <div class="mx-auto max-w-lg pb-14 md:mx-0 md:max-w-none md:pb-48 lg:pb-52 xl:max-w-xl xl:pb-14">
                <h1
                    class="text-5xl font-extrabold leading-tighter text-zinc-900 md:mx-auto md:max-w-2xl md:text-center xl:mx-0 xl:text-left xl:text-6xl xl:leading-tighter"
                >
                    I'm a mobile powersport mechanic.
                </h1>
                <ul
                    class="mt-6 flex flex-col space-y-4 md:mx-auto md:mt-8 md:max-w-3xl md:flex-row md:space-y-0 md:space-x-2 lg:space-x-4 xl:mx-0 xl:flex-col xl:space-y-4 xl:space-x-0"
                >
                    <ListItem>Serving Dripping Springs since 2005.</ListItem>
                    <ListItem>Full service repair, at your door.</ListItem>
                    <ListItem>I'm a factory certified repair technician.</ListItem>
                </ul>
                <div class="mt-10 flex flex-col sm:flex-row sm:space-x-5 md:mt-12 md:justify-center xl:justify-start">
                    <a
                        href="signup.html"
                        class="group inline-flex w-full items-center justify-center bg-zinc-700 px-6 py-3 text-base font-medium text-white duration-150 ease-in-out hover:bg-zinc-900 sm:w-auto xl:px-7 xl:py-4 xl:text-lg"
                        >Get an Estimate</a
                    >

                    <a
                        href="pricing.html"
                        class="group mt-3.5 inline-flex w-full items-center justify-center border border-zinc-800 px-6 py-3 text-base font-medium text-zinc-800 duration-150 ease-in-out hover:bg-zinc-800 hover:text-white sm:mt-0 sm:w-auto xl:px-7 xl:py-4 xl:text-lg"
                        >(800) 532-3343</a
                    >
                </div>
            </div>
        </div>

        <div class="bg-gradient-to-r from-vanilla via-zinc-50 to-zinc-100">
            <div class="relative mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
                <div
                    class="mx-auto max-w-lg pt-20 pb-8 pl-4 md:mx-0 md:max-w-md lg:max-w-lg lg:pt-28 lg:pb-16 xl:max-w-xl xl:py-12 xl:pl-14 2xl:pl-0"
                >
                    <blockquote>
                        <div class="relative leading-relaxed text-zinc-700 xl:text-lg">
                            <svg
                                class="absolute left-0 -top-12 h-8 w-8 transform text-gray-secondary-200 xl:top-0 xl:-left-5 xl:-translate-x-full xl:-translate-y-2"
                                height="48"
                                width="48"
                                viewBox="0 0 48 48"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <g>
                                    <path
                                        d="M21.66145,33.81676c0,4.29661-3.96109,8.22346-8.91304,8.22346C4.56585,42.04022,1,35.98671,1,27.90615 c0-9.27484,9.34862-18.21943,17.83035-21.94637l2.26574,3.64916C14.10766,12.9954,8.88433,17.58691,8.14413,25.28492h2.89106 c3.09587,0,6.31198,0.4991,8.45903,2.72402C21.02498,29.59761,21.66145,31.62025,21.66145,33.81676z M47,33.81676 c0,4.29661-3.96109,8.22346-8.91304,8.22346c-8.18256,0-11.74842-6.05352-11.74842-14.13408 c0-9.27484,9.34862-18.21943,17.83035-21.94637l2.26574,3.64916c-6.98843,3.38646-12.21176,7.97797-12.95195,15.67598 c3.15316,0,5.76908-0.11425,8.09925,0.71955C45.21084,27.30299,47,30.10812,47,33.81676z"
                                        fill="currentColor"></path>
                                </g>
                            </svg>

                            <p class="relative">
                                Chris was awesome. He's always on schedule and is always very reasonably priced and helpful. If my bike ever needs
                                work, he will be hearing from me.
                            </p>
                        </div>
                        <div class="mt-7 flex items-center">
                            <div class="h-14 w-14 rounded-full bg-gray-secondary-100">
                                <Image
                                    class="h-full w-full rounded-full object-cover object-center"
                                    width="100"
                                    height="100"
                                    src="../src/assets/images/testimonial.jpg"
                                    alt="DS Powersports testimonial"
                                />
                            </div>
                            <div class="ml-5">
                                <p class="font-medium text-zinc-900">Josh W.</p>

                                <p class="font-light text-zinc-500">Manchaca, TX</p>
                            </div>
                        </div>
                    </blockquote>
                </div>
                <div
                    class="absolute bottom-0 right-6 hidden w-1/3 bg-gray-secondary-100 md:block lg:right-12 xl:-right-0 xl:w-full xl:max-w-xl 2xl:-right-32 2xl:max-w-[640px]"
                >
                    <Image src="../src/assets/images/hero.jpg" width="600" height="800" class="h-auto w-full object-cover" alt="Home Hero Image" />
                </div>
            </div>
        </div>
    </section>

    <!-- Logo Cloud -->
    <section class="relative overflow-hidden bg-zinc-50 py-20 lg:pt-24">
        <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
            <p class="text-center text-base font-semibold uppercase tracking-widest text-zinc-500">Certified repair technician for</p>

            <!-- Logos-->
            <div class="mt-4 flex items-center justify-center gap-12">
                <Icon name="brand_honda" class="text-zinc-400 h-28" />
                <Icon name="brand_kawasaki" class="text-zinc-400 h-28" />
                <Icon name="brand_polaris" class="text-zinc-400 h-28" />
                <Icon name="brand_suzuki" class="text-zinc-400 h-28" />
                <Icon name="brand_yamaha" class="text-zinc-400 h-28" />
            </div>
        </div>
    </section>

    <!-- Feature Blocks -->
    <section class="relative overflow-hidden bg-vanilla pt-32 pb-20 lg:pt-24 lg:pb-28">
        <!-- Container -->
        <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
            <!-- Block 2 -->
            <div class="relative mx-auto w-full max-w-lg sm:max-w-xl lg:mx-0 lg:max-w-none">
                <!-- Image with Stats -->
                <div class="right-0 top-1/2 z-10 w-full lg:absolute lg:w-1/2 lg:-translate-y-1/2">
                    <Image src="../src/assets/images/repair.jpg" width="608" height="405" class="h-auto w-full" />
                    <div
                        class="absolute left-0 top-0 w-64 -translate-y-24 bg-gray-secondary-100/95 p-6 backdrop-blur-sm sm:py-7 lg:right-0 lg:top-[unset] lg:left-[unset] lg:bottom-0 lg:translate-y-24 2xl:translate-x-16"
                    >
                        <p class="text-4xl font-semibold text-slate-900 xl:text-5xl">3M+</p>
                        <p class="mt-5 text-slate-700">Listeners across podcasts using Waves</p>
                    </div>
                </div>

                <!-- Content -->
                <div
                    class="w-full border border-gray-secondary-400/60 bg-gray-secondary-50 px-6 py-10 sm:p-14 lg:w-7/12 lg:py-32 lg:pr-28 xl:pl-16 xl:pr-36"
                >
                    <h2 class="text-4xl font-semibold leading-tight text-slate-900 xl:text-5xl xl:leading-tight">
                        Serving our clients for 17 years running
                    </h2>
                    <p class="mt-6 leading-relaxed text-slate-700 sm:mt-8 sm:text-lg sm:leading-8">
                        Lorem ipsum dolor sit amet orci aliquam porta adipiscing elementum purus netus laoreet pulvinar. Vestibulum platea iaculis eu
                        ac netus lobortis porta sodales urna mollis ac. Elit viverra magna euismod aenean diam ullamcorper eu nec venenatis. Eleifend
                        lacinia luctus sagittis hendrerit habitasse cras dapibus.
                    </p>
                    <a
                        href="about.html"
                        class="group mt-10 inline-flex items-center justify-center border border-slate-800 px-5 py-2.5 text-base font-medium text-slate-800 duration-150 ease-in-out hover:bg-slate-800 hover:text-white sm:mt-12"
                    >
                        Learn more
                    </a>
                </div>
            </div>
        </div>
    </section>
</Layout>
