---
import MainLayout from "@/layouts/MainLayout";

import Container from "@/components/content/Container";
---

<MainLayout>
    <div class="relative h-180">
        <img src="https://cdn.cosmicjs.com/18456090-cca7-11f0-9626-37f7eb5f56f2-vikram-sundaramoorthy-pd8CfO07lBU-unsplash.jpg" class="absolute inset-0 object-cover h-180 w-full shadow-2xl" />

        <Container classes="relative z-50">
            <div class="w-full h-full bg-black/90 p-8">
                <div class="grid grid-cols-3 gap-12 text-white">
                    <div class="flex gap-4">
                        <img src="https://cdn.cosmicjs.com/18456090-cca7-11f0-9626-37f7eb5f56f2-vikram-sundaramoorthy-pd8CfO07lBU-unsplash.jpg" class="inset-0 object-cover w-40 h-auto shadow-2xl" />

                        <div class="flex flex-col">
                            <div class="font-semibold text-xl">Dirt Bikes</div>
                            <div class="text-stone-200 text-sm">We provide expert maintenance, repair, and performance tuning for dirtbikes at our outdoor powersports shop.</div>
                        </div>
                    </div>

                    <div class="flex gap-4">
                        <img src="https://cdn.cosmicjs.com/18456090-cca7-11f0-9626-37f7eb5f56f2-vikram-sundaramoorthy-pd8CfO07lBU-unsplash.jpg" class="inset-0 object-cover w-40 h-auto shadow-2xl" />

                        <div class="flex flex-col">
                            <div class="font-semibold text-xl">Dirt Bikes</div>
                            <div class="text-stone-200 text-sm">We provide expert maintenance, repair, and performance tuning for dirtbikes at our outdoor powersports shop.</div>
                        </div>
                    </div>

                    <div class="flex gap-4">
                        <img src="https://cdn.cosmicjs.com/18456090-cca7-11f0-9626-37f7eb5f56f2-vikram-sundaramoorthy-pd8CfO07lBU-unsplash.jpg" class="inset-0 object-cover w-40 h-auto shadow-2xl" />

                        <div class="flex flex-col">
                            <div class="font-semibold text-xl">Dirt Bikes</div>
                            <div class="text-stone-200 text-sm">We provide expert maintenance, repair, and performance tuning for dirtbikes at our outdoor powersports shop.</div>
                        </div>
                    </div>
                </div>
            </div>
        </Container>
    </div>

    <div class="bg-mongoose-900 py-18">
        <Container>
            <h1 class="text-white">Dripping Springs Outdoor Powersport is your trusted, local repair facility.</h1>
            <p>We specialize in expert service and maintenance for UTVs, 4-wheelers, and dirt bikes.</p>
            <p>From routine tune-ups to complex engine diagnostics and full-service repairs, our skilled technicians ensure your powersport vehicle is running at peak performance. We use quality parts and provide reliable service so you can hit the trails with confidence.</p>
            <p>Don't let mechanical issues sideline your adventure. Call us today!</p>
        </Container>
    </div>
</MainLayout>
