---
import Container from "@/components/layout/Container";
import Logo from "@/components/logos/Logo";
import Manufacturers from "@/components/content/Manufacturers";
---

<div class="bg-mongoose-900 py-10 lg:py-14">
    <Container>
        <Manufacturers />
    </Container>
</div>

<div class="bg-black py-14 lg:py-20">
    <Container>
        <div class="flex flex-col md:flex-row items-center md:items-start lg:items-center justify-center md:justify-between w-full max-md:gap-6">
            <Logo logoWidth="w-60 lg:w-80" />

            <div class="text-sm text-stone-200 md:w-100 lg:w-120 text-balance text-center md:text-right">Dripping Springs Outdoor Powersport is a locally owned and operated repair facility. We service all makes and models, including ATVs, dirt bikes and more.</div>
        </div>

        <div class="flex flex-col lg:flex-row items-center justify-between mt-8 max-lg:gap-4">
            <ul class="mt-8 flex gap-8 text-white font-medium uppercase font-heading text-base sm:text-xl tracking-tight">
                <li>Home</li>
                <li>Services</li>
                <li>Rates</li>
                <li><a href="/about/">About Us</a></li>
                <li><a href="/faq/">FAQ</a></li>
            </ul>

            <div class="flex flex-row items-center gap-6 text-lg sm:text-xl font-heading uppercase tracking-tight text-white antialiased font-semibold">
                <div>(512) 560-4223</div>
                <div>
                    <a href="/contact/" class="button button-primary button-inverse">Contact Us</a>
                </div>
            </div>
        </div>
    </Container>
</div>
