---
// props
export interface Props {
    logoWidth?: string;
    classes?: string;
}
const { logoWidth = "w-40", classes } = Astro.props;
---

<a href="/" class={classes}>
    <svg width="75" height="85" viewBox="0 0 75 85" fill="none" xmlns="http://www.w3.org/2000/svg" class:list={["text-white h-auto", logoWidth]}>
        <rect x="4.2257" y="4.2257" width="65.8387" height="76.0626" stroke="white" stroke-width="8.4514"></rect>
        <path
            d="M6.8667 41.563V6.86658H20.7915C24.0915 6.86658 26.9289 7.57593 29.3037 8.99462C31.7093 10.3825 33.5598 12.3717 34.8552 14.9624C36.1813 17.5222 36.8444 20.5909 36.8444 24.1685C36.8444 27.7153 36.1813 30.7994 34.8552 33.4209C33.5598 36.0116 31.7093 38.0163 29.3037 39.435C26.9289 40.8537 24.0915 41.563 20.7915 41.563H6.8667ZM14.9163 34.9013H20.7915C23.1972 34.9013 25.0785 33.9761 26.4355 32.1256C27.8233 30.2443 28.5173 27.5919 28.5173 24.1685C28.5173 20.776 27.8233 18.1545 26.4355 16.304C25.0785 14.4535 23.1972 13.5283 20.7915 13.5283H14.9163V34.9013Z"
            fill="white"></path>
        <path
            d="M53.8225 42.9509C51.1085 42.9509 48.6412 42.4882 46.4206 41.563C44.2309 40.6378 42.4729 39.2962 41.1467 37.5382C39.8514 35.7494 39.2037 33.5597 39.2037 30.969H47.4384C47.5926 32.6961 48.2402 33.9761 49.3814 34.8088C50.5225 35.6415 51.9412 36.0578 53.6375 36.0578C55.3029 36.0578 56.6753 35.7648 57.7548 35.1789C58.8342 34.5929 59.3739 33.7756 59.3739 32.727C59.3739 31.8326 59.0501 31.1695 58.4024 30.7377C57.7548 30.3059 56.7678 29.8896 55.4417 29.4886L48.0398 27.3143C46.5902 26.8826 45.2178 26.3428 43.9225 25.6952C42.6271 25.0167 41.5785 24.0914 40.7766 22.9195C40.0056 21.7475 39.6201 20.1592 39.6201 18.1545C39.6201 15.8414 40.1752 13.8521 41.2855 12.1867C42.3958 10.4904 43.9687 9.17967 46.0042 8.25444C48.0398 7.3292 50.43 6.86658 53.1748 6.86658C57.1534 6.86658 60.3763 7.83808 62.8436 9.78108C65.3417 11.7241 66.7758 14.4844 67.1459 18.062H58.8188C58.1711 15.132 56.1819 13.6671 52.851 13.6671C51.2473 13.6671 50.0136 13.9755 49.15 14.5923C48.3173 15.2091 47.901 16.0419 47.901 17.0905C47.901 17.8615 48.1631 18.5092 48.6874 19.0335C49.2117 19.5578 50.0444 19.9895 51.1856 20.3288L58.9113 22.6419C61.8721 23.5054 64.031 24.6928 65.388 26.2041C66.745 27.7153 67.4235 29.6891 67.4235 32.1256C67.4235 34.2845 66.8529 36.1812 65.7118 37.8158C64.6015 39.4195 63.0286 40.684 60.9931 41.6093C58.9576 42.5037 56.5674 42.9509 53.8225 42.9509Z"
            fill="white"></path>
        <path d="M16.6742 77.6472V50.1677H6.8667V42.9508H34.6238V50.1677H24.8163V77.6472H16.6742Z" fill="white"></path>
        <path d="M34.6238 77.6472L46.2818 59.8827L35.1327 42.9508H44.4313L51.5556 53.7761L58.4024 42.9508H67.4235L55.9043 60.3916L67.2384 77.6472H57.9398L50.5841 66.4981L43.6449 77.6472H34.6238Z" fill="white"></path>
    </svg>
</a>
