---
import "/src/assets/css/_global.css";
import "lightgallery/css/lightgallery-bundle.css";

import { Font } from "astro:assets";
// import ContactForm from "@/components/ContactForm";
import Container from "@/components/content/Container";
// import Footer from "@/components/content/Footer";
import Logo from "@/components/Logo";
import MainNavigation from "@/components/navigation/Main";
import Section from "@/components/content/Section";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>

		<Font cssVariable="--font-heading" preload />
		<Font cssVariable="--font-manrope" preload />
	</head>

	<body class="bg-wheat-50 text-stone-800">
		<div class="bg-black py-8">
			<Container size="large" mobilePadding={false}>
				<div class="flex justify-between items-center bg-black">
					<Logo logoWidth="w-66" />

					<MainNavigation />
				</div>
			</Container>
		</div>

		<slot />

		<!-- {
				!Astro.url.pathname.includes("contact") && (
					<Container>
						<ContactForm />
					</Container>
				)
			}

			<Footer /> -->

		<script is:inline>
			const el = document.querySelector(".navbar");
			const observer = new IntersectionObserver(([e]) => e.target.classList.toggle("is-pinned", e.intersectionRatio < 1), { threshold: [1] });

			observer.observe(el);
		</script>

		<script>
			// log visitdata
			import * as visitData from "visitdata";
			visitData.setOption("url_parameters", {
				medium: ["utm_medium"],
				source: ["utm_source"],
				campaign: ["utm_campaign"],
				gclid: ["gclid"],
			});
			document.getElementById("marketing").value = JSON.stringify(visitData.get());

			import lightGallery from "lightgallery";
			import lgThumbnail from "lightgallery/plugins/thumbnail";
			import lgVideo from "lightgallery/plugins/video";
			import lgZoom from "lightgallery/plugins/zoom";

			lightGallery(document.body, {
				selector: ".gallery", // This tells LG to pick <a> from ALL .gallery on page
				plugins: [lgThumbnail, lgZoom],
				thumbnail: true,
				exThumbImage: "data-thumb",
				showCloseIcon: true,
			});

			lightGallery(document.body, {
				selector: ".video",
				plugins: [lgVideo],
			});
		</script>
	</body>
</html>
