---
import "/src/assets/css/_global.css";
import "lightgallery/css/lightgallery-bundle.css";

import { Font } from "astro:assets";
import ContactForm from "@/components/forms/ContactForm";
import Container from "@/components/layout/Container";
import Footer from "@/components/Footer";
import Main from "@/components/navigation/Main";
import Review from "@/components/content/Review";
import Section from "@/components/layout/Section";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title></title>

		<Font cssVariable="--font-heading" preload />
		<Font cssVariable="--font-manrope" preload />
	</head>

	<body>
		<Main />

		<slot />

		{
			!Astro.url.pathname.includes("contact") && (
				<div class="bg-linear-to-br from-mongoose-950 to-mongoose-900">
					<Container paddingStarts="large">
						<Section bottomPaddingStarts="large">
							<div class="grid grid-cols-12 w-full max-md:gap-y-12 md:gap-16">
								<div class="col-span-12 lg:col-span-6 px-6 max-lg:sm:px-8">
									<ContactForm />
								</div>

								<div class="col-span-12 lg:col-span-6 space-y-1 h-full">
									<img src="https://imgix.cosmicjs.com/c2335060-d096-11f0-9412-e12f763e1300-motocross-mounted-motorcyclist-doing-race-dirt-track-ai-generative.jpg?w=1200" class="lg:rounded-lg shadow-2xl w-full h-full object-cover block" />
								</div>
							</div>
						</Section>
					</Container>
				</div>
			)
		}

		<Footer />

		<script>
			// log visitdata
			import * as visitData from "visitdata";
			visitData.setOption("url_parameters", {
				medium: ["utm_medium"],
				source: ["utm_source"],
				campaign: ["utm_campaign"],
				gclid: ["gclid"],
			});
			document.getElementById("marketing").value = JSON.stringify(visitData.get());

			import lightGallery from "lightgallery";
			import lgThumbnail from "lightgallery/plugins/thumbnail";
			import lgVideo from "lightgallery/plugins/video";
			import lgZoom from "lightgallery/plugins/zoom";

			lightGallery(document.body, {
				selector: ".gallery", // This tells LG to pick <a> from ALL .gallery on page
				plugins: [lgThumbnail, lgZoom],
				thumbnail: true,
				exThumbImage: "data-thumb",
				showCloseIcon: true,
			});

			lightGallery(document.body, {
				selector: ".video",
				plugins: [lgVideo],
			});
		</script>
	</body>
</html>
